@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #f3efe6;
}

.leaflet-div-icon.eco-pin {
  background: transparent;
  border: none;
}

.leaflet-popup-content-wrapper {
  border-radius: 12px;
}

.leaflet-popup-content {
  margin: 10px 12px;
}
